:root {
    scrollbar-color: rgb(71, 197, 174) rgb(237, 249, 247);
    scrollbar-width: auto;
}

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-track {
    background: rgb(237, 249, 247);
}

::-webkit-scrollbar-thumb {
    background: rgb(71, 197, 174);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(44, 160, 140);
}

::-webkit-scrollbar-thumb:active {
    background: rgb(0, 96, 80);
}

html,
body {
    margin: 0;
    font-family: Cairo, Calibri, sans-serif;
    font-size: clamp(16px, 2.5vw, 20px);
    letter-spacing: 0.06rem;
    background-color: rgb(163, 226, 215);
    background-image: linear-gradient(
        to bottom,
        rgb(126, 214, 198),
        rgb(200, 238, 231)
    );
    background-attachment: fixed;
    scroll-snap-type: y proximity;
}

img,
video {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: clamp(800px, 80vw, 1400px);
    margin: 0 auto;
    background-color: white;
}

header,
section {
    padding: clamp(0.5rem, 3.5vh, 2rem) clamp(1rem, 3.5vw, 4rem);
    scroll-snap-align: start;
}

section {
    border-top: 2px solid rgb(71, 197, 174);
}

#animals {
    font-size: 2.5em;
}
